:root {
    --post-width:1400px;
    --monospace: monospace;
}
.main.post {
    --main-width:1200px;
    position: relative;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	max-width: 1200px;
	margin: auto;
    margin-right: 50px;
	padding: var(--content-gap)var(--gap)0;
}
