<script src="https://kwes.io/v2/kwes-script.js" defer></script>

<form class="kwes-form" action="https://kwes.io/api/foreign/forms/SzUTukhvUoj5WzpxN4kX">

    <div class="fcf-form-group">
        <label for="Name" class="fcf-label">Your name</label>
        <div class="fcf-input-group">
            <input type="text" id="Name" name="name" class="fcf-form-control" rules="required|max:255">
        </div>
    </div>

    <div class="fcf-form-group">
        <label for="Email" class="fcf-label">Your email (optional)</label>
        <div class="fcf-input-group">
            <input type="text" id="Email" name="email" class="fcf-form-control">
        </div>
    </div>

    <div class="fcf-form-group">
        <label for="Name" class="fcf-label">Your message</label>
        <div class="fcf-input-group">
            <textarea id="Message" name="message" class="fcf-form-control" rows="6" maxlength="3000" rules="required"></textarea>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>